{% load static %}
<header>
    <nav class="navbar">
       <div class="logo">
            <a href="/">
                <img src="{% static 'images/pillar-logo.svg' %}"
                     alt="Heritage Logo"
                     class="logo-svg-file">
                <span class="logo-text">Our Heritage</span>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'artifacts:list' %}">Dashboard</a></li>
            <li><a href="{% url 'common:about' %}">About</a></li>
            <li><a href="{% url 'categories:list' %}">Historical Eras</a></li>
            <li><a href="{% url 'artifacts:exhibition_list' %}">Exhibitions</a></li>
        </ul>
    </nav>
</header>