{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bulgarian Heritage Archive{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.0"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'common/navigation.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'common/navigation.html' %}

</body>
</html>